.attendance-dialog-student-container {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 65% auto auto;
    border-radius: 5px;
    border: 1px solid #bebebe;
    background-color: #d6d6d6e7;
}

.attendance-dialog-student-container div {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: transparent;
}

.attendance-dialog-student-container div p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical; 
    font-family: 'Roboto Condensed', sans-serif;
}

.attendance-dialog-student-container div input {
    cursor: pointer;
}
