<app-status-dialog
*ngIf="isStatusMode" [type]="'error'"
[title]="statusTitle"
[content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<div class="work-container dialog-container">
    <div class="dialog-header-container">
        <h1 class="dialog-title-txt">{{title}}</h1>
        <div (click)="cancelOnClick()" class="dialog-close-container">
            <img src="../../../../assets/icons8-close-24 (1).png">
        </div>
    </div>




    <div class="dialog-content-container">
        <div>
            <p>*Conteúdo:</p>
            <input class="dialog-input" type="text" placeholder="Insira o conteúdo (obrigatório)"
            [(ngModel)]="workTitle">
        </div>


        <div>
            <p>*Desenvolvimento:</p>
            <input class="dialog-input" type="text" placeholder="Insira o desenvolvimento (obrigatório)" 
            [(ngModel)]="details">
        </div>


        <div *ngIf="isEditMode()">
            <p>Observações:</p>
            <input class="dialog-input" type="text" placeholder="Insira as observações" 
            [(ngModel)]="observations">
        </div>


        <div>
            <p>*Categoria:</p>
            <select class="dialog-select" [(ngModel)]="workType">
                <option>TRABALHO</option>
                <option>TAREFA</option>
                <option>AVALIAÇÃO</option>
                <option>ENGAJAMENTO</option>
                <option>SIMULADO</option>
                <option>TRILHA</option>
                <option>OUTROS</option>
            </select>
        </div>


        <div>
            <p>Data de Entrega:</p>
            <input class="dialog-input" id="date-input" type="date" 
            [(ngModel)]="date">
        </div>
    </div>


    <hr class="dialog-division-line">


    <div class="dialog-footer-container">
        <div class="dialog-warning-container">
            <img src="../../../../assets/alert_7586991.png">
            <p>Campos marcados com * são obrigatórios</p>
        </div>


        <div>
            <app-confirm-btn
            (clickEvent)="confirmOnClick()"
            [isClicked]="isClicked" [text]="btnText">
            </app-confirm-btn>
        </div>
    </div>
</div>




<div class="mask-filter"></div>