<div class="change-password-request-container">
    <div [ngSwitch]="currentStatus" class="content-container">

        <div *ngSwitchCase="'normal'">
            <h1 class="title-txt">Insira O Email Que Deseja Trocar A Senha</h1>
            <div>
                <input type="email" placeholder="Insira seu email"
                [(ngModel)]="email">
            </div>
            <div class="btns-container">
                <button (click)="sendChangePasswordRequest()" class="red-btn">Confirmar</button>
            </div>
        </div>

        <div *ngSwitchCase="'success'">
            <h1 class="title-txt">Requisição enviada com sucesso!</h1>
            <p>Vá até o seu email e clique no link que enviamos para você.</p>
        </div>

        <div *ngSwitchCase="'error'">
            <h1 class="title-txt">Ops, Algo Deu Errado :(</h1>
            <p>Alguma coisa não está funcionando bem, verifique as informações e tente novamente mais tarde.</p>
        </div>

    </div>
</div>
