<app-status-dialog
*ngIf="isStatusMode"
[type]="statusType" [title]="statusTitle" [content]="statusContent"
(destroyButtonClick)="setStatusModeFalse()">
</app-status-dialog>

<app-delete-dialog
*ngIf="isMode01"
[id]="userId"
(cancelButtonClick)="switchMode01()" (confirmButtonClick)="goToLoginPage(); switchMode01()"
type="userDelete" title="Deletar Conta"
content="Deseja realmente excluir sua conta? Todas as cadernetas e dados serão perdidos!">
</app-delete-dialog>

<app-delete-dialog
*ngIf="isMode02"
[id]="userId"
(cancelButtonClick)="switchMode02()" (confirmButtonClick)="goToLoginPage(); switchMode02()"
type="userLogout" title="Sair Da Conta"
content="Deseja realmente sair da conta? Você terá que fazer o login novamente!">
</app-delete-dialog>

<app-user-dialog
*ngIf="isMode03"
[userId]="userId" [userName]="userName" [userEmail]="userEmail"
(cancelButtonClick)="switchMode03()" 
(confirmButtonClick)="refreshPage(); switchMode03(); setEditStatus(); switchStatusMode()">
</app-user-dialog>

<app-delete-dialog
*ngIf="isMode04"
[id]="userId"
(cancelButtonClick)="switchMode04()" 
(confirmButtonClick)="switchMode04(); setPasswordChangeStatus(); switchStatusMode()"
type="userPasswordChange" title="Trocar Senha"
content="Deseja realmente trocar sua senha? Um email será enviado até você para confirmar esta ação."
>
</app-delete-dialog>




<div class="user-container">
    <h1 class="page-title-txt">Sobre Mim</h1>




    <div class="page-content-container">
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Nome:</h1>
            <input class="page-input" value="{{userName}}">
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Email:</h1>
            <input class="page-input" value="{{userEmail}}">
        </div>
    </div>




    <div class="page-btns-container">
        <button (click)="switchMode01()" class="page-btn red-btn">Excluir Conta</button>
        <button (click)="switchMode02()" class="page-btn yellow-btn">Sair</button>
        <button (click)="switchMode03()" class="page-btn blue-btn">Editar Conta</button>
        <button (click)="switchMode04()" class="page-btn blue-btn">Mudar Senha</button>
    </div>
</div>
