@media screen and (width <= 1014px) {
    
    .home-content-container {
        width: 754px;
        gap: 0;
        row-gap: 20px;
        grid-template-columns: 377px 377px;
    }

    .title-container {
        width: 754px;
    }

}

@media screen and (width <= 768px) {

    .home-content-container {
        width: 350px;
        gap: 20px;
        grid-template-columns: auto;
    }

    .title-container {
        width: 350px;
    }

    .role-container {
        max-width: 100px;
    }

}
