@media screen and (width <= 1014px) {
    
    .notebooks-container {
        width: 754px;
        overflow-x: auto;
    }

}

@media screen and (width <= 768px) {

    .notebooks-container {
        width: 350px;
        overflow-x: auto;
    }

}
