* {
    background-color: #d1d1d1;
}

h1 {
    font-family: "Roboto Condensed", sans-serif !important;
}

.home-container {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.title-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gray-hover:hover {
    cursor: pointer;
    background-color: #bebebe !important;
}




.user-info-container {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}

.user-txt {
    max-width: 350px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: x-large;
    font-weight: 600;
}

.subinfo-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.role-container {
    width: fit-content;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #72309ebd;
}

.role-txt {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffb7b7f3;
    font-size: small;
    background-color: transparent;
}

.enter-institution-txt:hover {
    cursor: pointer;
    color: #3913c4;
}




.notebook-use-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.notebook-sort-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5px 5px;
    border-radius: 5px;
    border: 2.5px solid #622888bd;
}

.sort-img {
    background-color: transparent;
}

.notebook-create-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 2.5px 7.5px;
    border: 2.5px solid #622888bd;
}

.notebook-create-btn p {
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: medium;
    background-color: transparent;
}

.plus-txt {
    color: #622888bd;
}

.new-notebook-txt {
    font-weight: 500;
    color: #9c2ea0;
}




.home-content-container {
    margin-top: 50px;
    width: 1000px;
    background-color: transparent;
}