<app-status-dialog
    *ngIf="isStatusMode"
    [type]="statusType" [title]="statusTitle"
    [content]="statusContent"
    (destroyButtonClick)="setStatusModeFalse()">
</app-status-dialog>

<app-notebook-dialog 
    *ngIf="isMode01" [teacherId]="userId" 
    (cancelButtonClick)="switchMode01()"
    (confirmButtonClick)="refreshNotebooks(); switchMode01(); setCreateStatus(); switchStatusMode();" 
    type="create" title="Criar Caderneta">
</app-notebook-dialog>

<app-sort-dialog
*ngIf="isMode02" [orderByElementsList]="[
{value: 'classe', name: 'Classe'},
{value: 'subject', name: 'Matéria'},
{value: 'bimester', name: 'Bimestre'},
{value: 'status', name: 'Status'},
{value: 'createDate', name: 'Data'}
]" [totalPages]="totalPages"
[orderBy]="sortBy" [direction]="direction" [pageNum]="pageNum"
(cancelButtonClick)="switchMode02()"
(confirmButtonClick)="receiveSortValues($event); switchMode02()">
</app-sort-dialog>




<div class="home-container">
    <div [ngSwitch]="currentState">
        <div *ngSwitchCase="'loading'" class="error-container">
            <div>
                <img src="../../../assets/redo_12108539.png">
                <h1>Carregando recursos...</h1>
            </div>
        </div>




        <div *ngSwitchCase="'loaded'">
            <div class="title-container">
                <div class="user-info-container">
                    <h1 class="user-txt">Olá, {{username}}!</h1>
                    <div class="role-container"><p class="role-txt">{{userRole}}</p></div>
                </div>
        
        
                <div *ngIf="notebooksState != 'unverified'" class="notebook-use-container">
                    <div (click)="switchMode02()" class="notebook-sort-container gray-hover">
                        <img class="sort-img gray-hover" src="../../../assets/document.png">
                    </div>
                    <button (click)="switchMode01()" class="notebook-create-btn gray-hover">
                        <p class="plus-txt">+</p>
                        <p class="new-notebook-txt">Nova Caderneta</p>
                    </button>
                </div>
            </div>
        
            <app-notebooks
            [userId]="userId" [notebooksState]="notebooksState"
            [notebooksList]="notebookList" [selectedBimester]="bimesterFilter"
            (filterByBimesterEvent)="changeBimesterFilter($event)">
            </app-notebooks>
        </div>
    
    
    
    
        <div *ngSwitchCase="'error'" class="error-container">
            <div>
                <img src="../../../assets/close_12833099.png">
                <h1 class="error-title">Ops, algo deu errado :(</h1>
            </div>
            <div>
                <p class="error-txt">Algo não está funcionando como deveria, clique no botão abaixo para recarregar a página</p>
                <button (click)="refreshPage()" class="error-btn">Recarregar</button>
            </div>
        </div>
    

        <div *ngSwitchCase="'unlogged'" class="error-container">
            <div>
                <img src="../../../assets/log_6076227.png">
                <h1 class="error-title">Parece que você não está logado!</h1>
            </div>
            <div>
                <p class="error-txt">Clique no botão abaixo para realizar login ou criar uma conta</p>
                <button [routerLink]="['/login']" class="error-btn">Login/Criar</button>
            </div>
        </div>
    </div>
</div>