<app-status-dialog
    *ngIf="isStatusMode"
    [type]="statusType" [title]="statusTitle"
    [content]="statusContent"
    (destroyButtonClick)="setStatusModeFalse()">
</app-status-dialog>


<app-institution-dialog
*ngIf="isMode01"
[userId]="userId" [isAdmin]="userRole == 'ROLE_ADM'"
(cancelEmitter)="switchMode01()" (confirmEmitter)="refreshPage()">
</app-institution-dialog>


<app-sort-dialog
*ngIf="isMode02" 
[orderByElementsList]="[
{value: 'classe', name: 'Classe'},
{value: 'subject', name: 'Matéria'},
{value: 'bimester', name: 'Bimestre'},
{value: 'status', name: 'Status'},
{value: 'createDate', name: 'Data'}]" 
[totalPages]="totalPages"
[orderBy]="sortBy" [direction]="direction" [pageNum]="pageNum"
(cancelButtonClick)="switchMode02()"
(confirmButtonClick)="receiveSortValues($event); switchMode02()">
</app-sort-dialog>


<app-notebook-dialog
*ngIf="isMode03"
[teacherId]="userId"
[type]="'create'" [title]="'Criar Caderneta'"
(cancelButtonClick)="switchMode03()" (confirmButtonClick)="triggerRefreshNotebooks(); switchMode03()">
</app-notebook-dialog>




<div class="home-container">
    <div [ngSwitch]="currentState">
        <div *ngSwitchCase="'loading'" class="error-container">
            <div>
                <img src="../../../assets/redo_12108539.png">
                <h1>Carregando recursos...</h1>
            </div>
        </div>




        <div *ngSwitchCase="'loaded'">
            <div class="title-container">
                <div class="user-info-container">
                    <h1 class="user-txt">Olá, {{userName}}!</h1>


                    <div class="subinfo-container">
                        <img src="../../../assets/driver-license.png">
                        <div class="role-container"><p class="role-txt">{{getRoleName()}}</p></div>
                    </div>


                    <div class="subinfo-container">
                        <img src="../../../assets/home.png">
                        <div class="role-container">
                            <p 
                            *ngIf="userInstitution == null" 
                            (click)="switchMode01()"
                            class="role-txt enter-institution-txt">
                            ENTRAR EM UMA INSTITUIÇÃO</p>


                            <p *ngIf="userInstitution != null" class="role-txt">{{userInstitution.name}}</p>
                        </div>
                    </div>
                </div>
        
        
                <div *ngIf="userRole == 'ROLE_TCHR'" class="notebook-use-container">
                    <div (click)="switchMode02()" class="notebook-sort-container gray-hover">
                        <img class="sort-img gray-hover" src="../../../assets/document.png">
                    </div>
                    <button (click)="switchMode03()" class="notebook-create-btn gray-hover">
                        <p class="plus-txt">+</p>
                        <p class="new-notebook-txt">Nova Caderneta</p>
                    </button>
                </div>
            </div>




            <div class="home-content-container">
                <app-admin-page
                *ngIf="userRole == 'ROLE_ADM' || userRole == 'ROLE_SUPER'"
                [adminId]="userId" [adminRole]="userRole"
                [hasInstitution]="userInstitution != null"
                [institutionId]="userInstitution?.id" [institutionName]="userInstitution?.name"
                (openInstitutionDialog)="switchMode01()">
                </app-admin-page>


                <app-teacher-page
                *ngIf="userRole == 'ROLE_TCHR'"
                [teacherId]="userId">
                </app-teacher-page>
            </div>
        </div>
    
    
    
    
        <div *ngSwitchCase="'error'" class="error-container">
            <div>
                <img src="../../../assets/close_12833099.png">
                <h1 class="error-title">Ops, algo deu errado :(</h1>
            </div>
            <div>
                <p class="error-txt">Algo não está funcionando como deveria, clique no botão abaixo para recarregar a página</p>
                <button (click)="refreshPage()" class="error-btn">Recarregar</button>
            </div>
        </div>
    

        <div *ngSwitchCase="'unlogged'" class="error-container">
            <div>
                <img src="../../../assets/log_6076227.png">
                <h1 class="error-title">Parece que você não está logado!</h1>
            </div>
            <div>
                <p class="error-txt">Clique no botão abaixo para realizar login ou criar uma conta</p>
                <button [routerLink]="['/login']" class="error-btn">Login/Criar</button>
            </div>
        </div>
    </div>
</div>