* {
    background-color: transparent;
}

.delete-dialog-container {
    width: 350px;
    min-height: 215px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border: 2.5px solid #3F3F3F;
    border-radius: 2.5px;
    background-color: #bbbbbb;
    z-index: 1;
}

.title-txt {
    width: fit-content;
    margin-top: 35px;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: x-large;
    font-family: 'Bebas Neue', sans-serif;
}

hr {
    width: 330px;
    margin-top: 2.5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3F3F3F;
}

.content-txt {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.btns-box {
    width: 325px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.btns-box button {
    height: 25px;
    border: 0;
    border-radius: 2.5px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}

.red-btn {
    background-color: #e03437;
}

.red-btn:hover {
    background-color: #e03437b9;
}

.green-btn {
    background-color: #73a541;
}

.green-btn:hover {
    background-color: #73a541ce;
}