<app-status-dialog
*ngIf="isStatusMode" [type]="statusType"
[title]="statusTitle" [content]="statusContent"
(destroyButtonClick)="setStatusModeFalse()">
</app-status-dialog>




<div class="change-password-container">
    <h1 class="page-title-txt">Mudar Senha</h1>

    


    <div class="page-content-container">
        <div class="page-info-container">
            <input class="page-input" placeholder="Insira seu email" [disabled]="isUserFound"
            [(ngModel)]="userEmail">
        </div>
        <div *ngIf="isUserFound" class="page-info-container">
            <input class="page-input" type="password" placeholder="Insira sua nova senha" 
            [(ngModel)]="password">
        </div>
        <div *ngIf="isUserFound" class="page-info-container">
            <input class="page-input" type="password" placeholder="Cofirme sua nova senha" 
            [(ngModel)]="confPassword">
        </div>
    </div>




    <div class="page-btns-container">
        <button (click)="btnOnClick()" class="page-btn purple-btn">{{btnText}}</button>
    </div>
</div>
