* {
    background-color: transparent;
}

.finalize-notebook-dialog-container {
    width: 350px;
    min-height: 215px;
    padding-bottom: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border: 2.5px solid #3F3F3F;
    border-radius: 2.5px;
    background-color: #bbbbbb;
    z-index: 1;
}

.title-txt {
    width: fit-content;
    margin-top: 35px;
    margin-left: 10px;
    margin-bottom: 0;
    font-size: x-large;
    font-family: 'Bebas Neue', sans-serif;
}

hr {
    width: 330px;
    margin-top: 2.5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3F3F3F;
}

.content-txt {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
}

.grades-weight-container {
    margin-top: 20px;
    padding: 0 10px;
}

.grades-weight-container h1 {
    font-size: large;
}

.grades-weight-container p {
    font-size: small;
}

.grades-weight-selects {
    margin-top: 7.5px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
}

.grades-weight-selects div select, .grades-weight-selects div p {
    width: 150px;
    font-size: medium;
}

.weight-sum-container {
    width: fit-content;
    margin-top: 20px;
    margin-left: 10px;
    padding: 0 10px;
    border: 1px solid #3F3F3F;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weight-sum-container h1 {
    font-size: medium;
    margin-right: 5px;
}

.GREEN {
    font-weight: bold;
    color: rgba(66, 133, 0, 0.827)
}

.RED {
    font-weight: bold;
    color: #aa383a;
}

.btns-box {
    width: 325px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.btns-box button {
    height: 25px;
    border: 0;
    border-radius: 2.5px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}

.red-btn {
    background-color: #e03437;
}

.red-btn:hover {
    background-color: #e03437b9;
}

.green-btn {
    background-color: #73a541;
}

.green-btn:hover {
    background-color: #73a541ce;
}
