<app-status-dialog
*ngIf="isStatusMode" [type]="'error'"
[title]="statusTitle"
[content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<div class="finalize-notebook-dialog-container">
    <p class="title-txt">Finalizar Caderneta</p>
    <p class="content-txt">Deseja realmente finalizar essa caderneta? A confirmação iniciará um download
        da tabela exel relacionada a ela.</p>
    <div class="grades-weight-container">
        <h1>Selecione O Peso Das Notas</h1>
        <p>*Note que a soma dos pesos deve ser igual a 10!</p>
        <div (change)="changeWeightSum()" class="grades-weight-selects">
            <div>
                <p>Trabalhos:</p>
                <select [(ngModel)]="trabalhoSelect">
                    <option *ngFor="let number of numbersArray">
                        {{number}}
                    </option>
                </select>
            </div>
            <div>
                <p>Tarefas:</p>
                <select [(ngModel)]="tarefaSelect">
                    <option *ngFor="let number of numbersArray">
                        {{number}}
                    </option>
                </select>
            </div>
            <div>
                <p>Avaliações:</p>
                <select [(ngModel)]="avaliacaoSelect">
                    <option *ngFor="let number of numbersArray">
                        {{number}}
                    </option>
                </select>
            </div>
            <div>
                <p>Engajamento:</p>
                <select [(ngModel)]="engajamentoSelect">
                    <option *ngFor="let number of numbersArray">
                        {{number}}
                    </option>
                </select>
            </div>
            <div>
                <p>Simulado:</p>
                <select [(ngModel)]="simuladoSelect">
                    <option *ngFor="let number of numbersArray">
                        {{number}}
                    </option>
                </select>
            </div>
            <div>
                <p>Trilhas:</p>
                <select [(ngModel)]="trilhasSelect">
                    <option *ngFor="let number of numbersArray">
                        {{number}}
                    </option>
                </select>
            </div>
            <div>
                <p>Outros:</p>
                <select [(ngModel)]="outrosSelect">
                    <option *ngFor="let number of numbersArray">
                        {{number}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="weight-sum-container">
        <h1>Soma Atual --></h1>
        <p [ngClass]="weigthSumStyle">{{weightSum}}</p>
    </div>
    <div class="btns-box">
        <button (click)="cancelOnClick()" class="red-btn">Cancelar</button>
        <button (click)="confirmOnClick()" class="green-btn">Confirmar</button>
    </div>
</div>