<app-status-dialog
*ngIf="isStatusMode" [type]="'error'"
[title]="statusTitle"
[content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<div class="dialog-container">
    <div class="dialog-header-container">
        <h1 class="dialog-title-txt">Finalizar Caderneta</h1>
        <div (click)="cancelOnClick()" class="dialog-close-container">
            <img src="../../../../assets/icons8-close-24 (1).png">
        </div>
    </div>




    <div class="dialog-content-container">
        <div *ngIf="!isSecondModeEnable">
            <p class="subtitle">Selecione as categorias que deseja incluir na média:</p>


            <div class="grid-container">
                <div class="category-container">
                    <input type="checkbox" value="Trabalho" #categoryCheckBox>
                    <p>Trabalhos</p>
                </div>

                <div class="category-container">
                    <input type="checkbox" value="Tarefa" #categoryCheckBox>
                    <p>Tarefas</p>
                </div>

                <div class="category-container">
                    <input type="checkbox" value="Avaliação" #categoryCheckBox>
                    <p>Avaliações</p>
                </div>

                <div class="category-container">
                    <input type="checkbox" value="Engajamento" #categoryCheckBox>
                    <p>Engajamento</p>
                </div>

                <div class="category-container">
                    <input type="checkbox" value="Simulado" #categoryCheckBox>
                    <p>Simulado</p>
                </div>

                <div class="category-container">
                    <input type="checkbox" value="Trilha" #categoryCheckBox>
                    <p>Trilhas</p>
                </div>

                <div class="category-container">
                    <input type="checkbox" value="Outros" #categoryCheckBox>
                    <p>Outros</p>
                </div>
            </div>

            <div class="dialog-footer-container">
                <p></p>
                <button (click)="onClickFirstSection()" class="dialog-btn smaller-btn">Próximo</button>
            </div>
        </div>




        <div *ngIf="isSecondModeEnable" class="second-mode-container">
            <div class="grades-weight-container">
                <p class="subtitle">Selecione o peso das notas</p>
                <p style="font-size: small;">*Note que a soma dos pesos deve ser igual a 10!</p>
    
    
                <div  class="grid-container">
                    <div *ngFor="let category of checkedCategories" class="weights-container">
                        <p>{{category}}:</p>
                        <select class="dialog-select" #weightsSelect>
                            <option *ngFor="let weight of numbersArray" [value]="category + ' ' + weight">
                                {{weight}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="dialog-footer-container">
                <p></p>
                <button (click)="onClickBackBtn()" class="dialog-btn smaller-btn">Voltar</button>
            </div>
        </div>
    </div>


    <hr *ngIf="isSecondModeEnable" class="dialog-division-line">


    <div *ngIf="isSecondModeEnable" class="dialog-footer-container">
        <div class="dialog-warning-container">
            <img src="../../../../assets/alert_7586991.png">
            <p>A caderneta ainda ficará disponível após finalizada</p>
        </div>


        <div>
            <app-confirm-btn
            (clickEvent)="onClickSecondSection()"
            [isClicked]="isClicked" [text]="btnText">
            </app-confirm-btn>
        </div>
    </div>
</div>




<div class="mask-filter"></div>