.subtitle {
    font-size: medium;
    font-weight: 600;
}

.grid-container {
    margin: 15px 0px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 7.5px;
    column-gap: 10px;
}

.smaller-btn {
    width: 100px;
    height: 25px;
}




.category-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}




.weights-container {
    width: 145px;
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}

.weight-sum-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
