@media screen and (width <= 1014px) {
    
    .tools-container {
        grid-template-columns: auto auto;
    }

}

@media screen and (width <= 768px) {

    .page-input {
        width: 350px;
    }

    .tools-container {
        grid-template-columns: auto;
        justify-content: center;
    }

}
