<div class="admin-page-container">
    <div class="institution-container">
        <img class="institution-img" src="../../../assets/home (1).png">


        <input class="page-input" [(ngModel)]="institutionName" disabled="true">
    </div>




    <div class="content-container">
        <p class="page-top-txt">Ferramentas</p>


        <div class="tools-container">
            <div class="tool page-gray-hover">
                <img src="../../../assets/setting.png">
                <p class="tool-txt">Admins</p>
            </div>

            <div class="tool page-gray-hover">
                <img src="../../../assets/teacher.png">
                <p class="tool-txt">Professores</p>
            </div>

            <div class="tool page-gray-hover">
                <img src="../../../assets/graduation.png">
                <p class="tool-txt">Alunos</p>
            </div>
        </div>
    </div>
</div>