<app-status-dialog
*ngIf="isStatusMode"
[type]="'success'" [title]="statusTitle" [content]="statusContent"
(destroyButtonClick)="setStatusModeFalse()">
</app-status-dialog>

<app-delete-dialog
*ngIf="isMode01"
[id]="notebookId"
(cancelButtonClick)="switchMode01()" (confirmButtonClick)="deleteNotebookMessageAlert(); switchMode01()"
type="notebookDelete" title="Deletar Caderneta" 
content="Deseja realmente deletar essa caderneta? Uma mensagem será enviada até seu email para confirmar esta ação.">
</app-delete-dialog>

<app-finalize-dialog
*ngIf="isMode02"
[notebookId]="notebookId"
(cancelButtonClick)="switchMode02()" 
(confirmButtonClick)="switchMode02(); setFinalizeStatus(); switchStatusMode()">
</app-finalize-dialog>

<app-notebook-dialog 
*ngIf="isMode03"
[notebookId]="notebookId"
[classe]="classe" [subject]="subject" [bimester]="bimester"
(cancelButtonClick)="switchMode03()" 
(confirmButtonClick)="refreshNotebook(); switchMode03(); setEditStatus(); switchStatusMode()"
type="edit" title="Editar Caderneta">
</app-notebook-dialog>

<app-back-arrow></app-back-arrow>

<div class="single-notebook-container">
    <h1 class="page-title-txt">Informações</h1>




    <div class="page-content-container">
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Turma:</h1>
            <input class="page-input" [value]="classe.replaceAll('_', ' ')">
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Disciplina:</h1>
            <input class="page-input" [value]="subject.replaceAll('_', ' ')">
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Bimestre:</h1>
            <input class="page-input" [value]="bimester">
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Status:</h1>
            <input class="page-input" [value]="status">
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Criada Em:</h1>
            <input class="page-input" [value]="formatDate(date)">
        </div>
    </div>




    <div class="interactive-txts-container">
        <h1 (click)="navigateToUrl('aulas')" class="interactive-txt">Ver Aulas</h1>
        <h1 (click)="navigateToUrl('trabalhos')" class="interactive-txt">Ver Ferramentas de Avaliação</h1>
        <h1 (click)="navigateToUrl('alunos-performace')" class="interactive-txt">Ver Desempenho dos Alunos</h1>
    </div>





    <div class="page-btns-container">
        <button (click)="switchMode01()" class="page-btn red-btn">Excluir</button>
        <button (click)="switchMode02()" class="page-btn yellow-btn">Finalizar</button>
        <button (click)="switchMode03()" class="page-btn blue-btn">Editar</button>
    </div>
</div>
