<app-status-dialog
*ngIf="isStatusMode" [type]="'error'"
[title]="'Erro Ao Salvar Caderneta!'"
[content]="getEnvironmentErrorMessage()"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<div class="dialog-container">
    <div class="dialog-header-container">
        <h1 class="dialog-title-txt">{{title}}</h1>
        <div (click)="cancelOnClick()" class="dialog-close-container">
            <img src="../../../../../assets/icons8-close-24 (1).png">
        </div>
    </div>




    <div class="dialog-content-container">
        <div>
            <p>*Turma:</p>
            <select [(ngModel)]="classe" class="dialog-select">
                <option value="Ensino_Fundamental_6_A">Ensino Fundamental 6-A</option>
                <option value="Ensino_Fundamental_6_B">Ensino Fundamental 6-B</option>
                <option value="Ensino_Fundamental_7_A">Ensino Fundamental 7-A</option>
                <option value="Ensino_Fundamental_7_B">Ensino Fundamental 7-B</option>
                <option value="Ensino_Fundamental_8_A">Ensino Fundamental 8-A</option>
                <option value="Ensino_Fundamental_9_A">Ensino Fundamental 9-A</option>
                <option value="Ensino_Fundamental_9_B">Ensino Fundamental 9-B</option>
                <option value="Ensino_Médio_1_A">Ensino Médio 1-A</option>
                <option value="Ensino_Médio_2_A">Ensino Médio 2-A</option>
                <option value="Ensino_Médio_3_A">Ensino Médio 3-A</option>
            </select>
        </div>


        <div>
            <p>*Disciplina:</p>
            <select [(ngModel)]="subject" class="dialog-select">
                <option>Arte</option>
                <option>Biologia</option>
                <option>Ciências</option>
                <option value="Educação_Física">Educação Física</option>
                <option>Filosofia</option>
                <option>Física</option>
                <option>Geografia</option>
                <option>História</option>
                <option>Inglês</option>
                <option>Literatura</option>
                <option>Maker</option>
                <option>Matemática</option>
                <option>Português</option>
                <option value="Projeto_De_Vida">Projeto de Vida</option>
                <option>Química</option>
                <option>Sociologia</option>
                <option value="Tecnologia_e_Comunicação">Tecnologia e Comunicação</option>
            </select>
        </div>


        <div>
            <p>*Bimestre:</p>
            <select [(ngModel)]="bimester" class="dialog-select">
                <option>Primeiro</option>
                <option>Segundo</option>
                <option>Terceiro</option>
                <option>Quarto</option>
            </select>
        </div>
    </div>


    <hr class="dialog-division-line">


    <div class="dialog-footer-container">
        <div class="dialog-warning-container">
            <img src="../../../../../assets/alert_7586991.png">
            <p>Campos marcados com * são obrigatórios</p>
        </div>
        <app-confirm-btn
        (clickEvent)="confirmOnClick()"
        [isClicked]="isClicked" [text]="btnText">
        </app-confirm-btn>
    </div>
</div>




<div class="mask-filter"></div>