<app-work-dialog 
*ngIf="isCreateMode"
[notebookId]="notebookId"
(cancelButtonClick)="switchCreateMode()" (confirmButtonClick)="refreshWorks(); switchCreateMode()"
type="create" title="Criar Trabalho/Tarefa">
</app-work-dialog>

<app-back-arrow></app-back-arrow>

<div class="works-page-container">
    <h1 class="title-txt">Trabalhos/Tarefas</h1>
    <h1 *ngIf="!isWorksLoaded" class="loading-txt">Carregando...</h1>
    <div *ngIf="isWorksLoaded" class="content-container">
        <button (click)="switchCreateMode()" class="create-btn">
            <h1>Novo Trabalho/Tarefa</h1>
        </button>
        <div class="sort-container">
            <div>
                <h1>Ordernar Por:</h1>
                <select (change)="selectChange()" [(ngModel)]="sortBy">
                    <option value="deliveryDate">Data</option>
                    <option value="title">Título</option>
                    <option value="grades">Notas</option>
                    <option value="type">Tipo</option>
                </select>
            </div>
            <div>
                <h1>Ordem:</h1>
                <select (change)="selectChange()" [(ngModel)]="direction">
                    <option value="asc">Crescente</option>
                    <option value="desc">Decrescente</option>
                </select>
            </div>
            <div>
                <h1>Página:</h1>
                <select (change)="selectChange()" [(ngModel)]="pageNum">
                    <option *ngFor="let pageNum of pageNumbers">
                        {{pageNum}}
                    </option>
                </select>
            </div>
        </div>
        <div class="works-container">
            <div class="works-header">
                <div><h1>Data</h1></div>
                <div><h1>Título</h1></div>
                <div><h1>Notas/Alunos</h1></div>
            </div>
            <div *ngFor="let work of worksList" class="works-list">
                <app-work-list-element
                [id]="work.id"
                [date]="work.deliveryDate"
                [title]="work.title"
                [grades]="work.grades"
                [students]="studentsLength">
                </app-work-list-element>
            </div>
        </div>
    </div>
</div>
