.lesson-list-element-container {
    height: 155px;
}

.box-first-section-container {
    margin-top: 15px;
}

.box-bottom-left-container {
    margin-top: 12.5px;
}

.box-title-txt {
    font-size: larger;
    font-family: 'Roboto Condensed', sans-serif;
}