<app-status-dialog
*ngIf="isStatusMode"
[type]="statusType" [title]="statusTitle"
[content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>




<div 
*ngIf="isInflated" 
class="inflate-container"
[style.top.px]="positionY"
[style.left.px]="positionX"
>
    <div (click)="duplicateLesson()" class="inflate-child"><p>Duplicar Aula</p></div>
    <hr class="inflate-division-line">
    <div (click)="deleteLesson()" class="inflate-child"><p class="red-txt">Excluir Aula</p></div>
</div>




<div 
(click)="navigateToSingleLesson(); isInflated = false" 
(contextmenu)="inflateContainer($event)"
[ngClass]="isInflated ? 'disabled' : ''"
class="lesson-list-element-container box-list-element-container"
>
    <h1 class="box-title-txt">{{title}}</h1>


    <div class="box-first-section-container">
        <p>{{details}}</p>
        <p>{{bnccCodesLength}} Habilidade(s)</p>
    </div>


    <div class="box-second-section-container">
        <div>
            <p>Quantidade:</p>
            <p>{{quantity}}</p>
        </div>


        <div>
            <p>Data:</p>
            <p>{{date}}</p>
        </div>
    </div>

    
    <div class="box-bottom-left-container" [ngClass]="attendance == 'SIM' ? 'status-green-container' : 'status-red-container'">
        <p>{{attendanceDoneOrNot()}}</p>
    </div>
</div>
