<app-status-dialog
*ngIf="isStatusMode"
[type]="'success'" [title]="'Aula Criada Com Sucesso!'"
[content]="'Aula Criada Com Sucesso!'"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>


<app-lesson-dialog 
*ngIf="isMode01"
[notebookId]="notebookId"
(cancelButtonClick)="switchMode01()" 
(confirmButtonClick)="refreshLessons(); switchMode01(); switchStatusMode();"
type="create" title="Criar Aula">
</app-lesson-dialog>


<app-sort-dialog
*ngIf="isMode02" [orderByElementsList]="[
{value: 'date', name: 'Data'},
{value: 'title', name: 'Título'},
{value: 'quantity', name: 'Quantidade'},
{value: 'attendances', name: 'Chamada'}
]" [totalPages]="totalPages"
[orderBy]="sortBy" [direction]="direction" [pageNum]="pageNum"
(cancelButtonClick)="switchMode02()"
(confirmButtonClick)="receiveSortValues($event); switchMode02()">
</app-sort-dialog>


<app-back-arrow></app-back-arrow>




<div class="page-container">
    <div class="page-title-container">
        <div>
            <h1 class="page-top-txt">Aulas de {{notebookSubject}}</h1>
            <div class="page-bottom-txt-container"><p class="page-bottom-txt">{{notebookClasse}}</p></div>
        </div>


        <div class="page-use-container">
            <div (click)="switchMode02()" class="page-sort-container page-gray-hover">
                <img class="page-sort-img page-gray-hover" src="../../../assets/document.png">
            </div>
            <button (click)="switchMode01()" class="page-create-btn page-gray-hover">
                <p class="page-plus-txt">+</p>
                <p class="page-new-txt">Nova Aula</p>
            </button>
        </div>
    </div>




    <div [ngSwitch]="lessonsState" class="notebooks-component-container">
        <div *ngSwitchCase="'loading'" class="error-container">
            <div>
                <img src="../../../assets/redo_12108539.png">
                <h1>Carregando aulas...</h1>
            </div>
        </div>
    
        <div *ngSwitchCase="'loaded'" class="page-content-container">
            <app-lesson-list-element *ngFor="let lesson of lessonsList"
            [id]="lesson.id" [date]="formatDate(lesson.date)" [title]="lesson.title"
            [details]="lesson.details" [bnccCodesLength]="lesson.bnccCodes?.length"
            [quantity]="lesson.quantity" [attendance]="ifAttendanceExists(lesson.attendances)">    
            </app-lesson-list-element>
        </div>
    
    
        <div *ngSwitchCase="'empty'" class="error-container">
            <div>
                <img src="../../../assets/search_11756156.png">
                <h1 class="error-title">Nenhuma aula encontrada</h1>
            </div>
            <div>
                <p class="error-txt">Clique no botão 'Nova Aula' e começe seus trabalhos ;)</p>
            </div>
        </div>
    </div>
</div>