<app-status-dialog
*ngIf="isStatusMode" [type]="'error'"
[title]="statusTitle"
[content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<div class="lesson-container dialog-container">
    <div class="dialog-header-container">
        <h1 class="dialog-title-txt">{{title}}</h1>
        <div (click)="cancelOnClick()" class="dialog-close-container">
            <img src="../../../../assets/icons8-close-24 (1).png">
        </div>
    </div>




    <div class="dialog-content-container">
        <div>
            <p>*Conteúdo:</p>
            <input class="dialog-input" type="text" placeholder="Insira o conteúdo (obrigatório)" 
            [(ngModel)]="lessonTitle">
        </div>


        <div>
            <p>*Desenvolvimento:</p>
            <input class="dialog-input" type="text" placeholder="Insira o desenvolvimento (obrigatório)" 
            [(ngModel)]="details">
        </div>


        <div *ngIf="isEditMode()">
            <p>Observações:</p>
            <input class="dialog-input" type="text" placeholder="Insira as observações" 
            [(ngModel)]="observations">
        </div>


        <div>
            <p>Habilidades:</p>
            <input class="dialog-input" type="text" placeholder="Pesquisar Habilidades"
            (focus)="changeInputFocus()"
            (blur)="changeInputFocus()"
            (input)="bnccInputChange()"
            [(ngModel)]="bnccInput">


            <div *ngIf="isInputFocus">
                <div class="dropdown-select">
                    <div *ngFor="let bncc_code of allBnccCodes" (click)="isCodeSelected = true; insertSelectCode(bncc_code.code)">
                        {{bncc_code.description}}
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="isCodeSelected">
            <p>Habilidades Selecionadas:</p>
            <div class="selected-codes-container">
                <div *ngFor="let selectedCode of selectedCodes" class="selected-codes">
                    <div><p class="selected-code-txt">{{selectedCode}}</p></div>
                    <div class="remove-code-container">
                        <p (click)="removeSelectedCode(selectedCode)" class="remove-selected-code-txt">&#10005;</p>
                    </div>
                </div>
            </div>
        </div>


        <div>
            <p>Quantidade:</p>
            <select class="dialog-select" [(ngModel)]="quantity">
                <option>1</option>
                <option>2</option>
            </select>
        </div>


        <div>
            <p>Data:</p>
            <input class="dialog-input" type="date" 
            [(ngModel)]="date">
        </div>
    </div>


    <hr class="dialog-division-line">


    <div class="dialog-footer-container">
        <div class="dialog-warning-container">
            <img src="../../../../assets/alert_7586991.png">
            <p>Campos marcados com * são obrigatórios</p>
        </div>


        <div>
            <app-confirm-btn
            (clickEvent)="confirmOnClick()"
            [isClicked]="isClicked" [text]="btnText">
            </app-confirm-btn>
        </div>
    </div>
</div>




<div class="mask-filter"></div>