<app-status-dialog
*ngIf="isStatusMode" [type]="'error'"
[title]="statusTitle"
[content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<div class="lesson-container">
    <p class="title-txt">{{title}}</p>
    <div class="form">
        <div>
            <p>*Conteúdo:</p>
            <input type="text" placeholder="Insira o conteúdo (obrigatório)" 
            [(ngModel)]="lessonTitle">
        </div>
        <div>
            <p>*Desenvolivimento:</p>
            <input type="text" placeholder="Insira o desenvolivimento (obrigatório)" 
            [(ngModel)]="details">
        </div>
        <div *ngIf="isEditMode()">
            <p>Observações:</p>
            <input type="text" placeholder="Insira as observações" 
            [(ngModel)]="observations">
        </div>
        <div>
            <p>Habilidades:</p>
            <input type="text" placeholder="Pesquisar Habilidades"
            (focus)="changeInputFocus()"
            (blur)="changeInputFocus()"
            (input)="bnccInputChange()"
            [(ngModel)]="bnccInput">
            <p></p>
            <div *ngIf="isInputFocus">
                <div class="dropdown-select">
                    <div *ngFor="let bncc_code of allBnccCodes" (click)="isCodeSelected = true; insertSelectCode(bncc_code.code)">
                        {{bncc_code.description}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isCodeSelected">
            <p>Habilidades Selecionadas:</p>
            <div class="selected-codes-container">
                <div *ngFor="let selectedCode of selectedCodes" class="selected-codes">
                    <div><p class="selected-code-txt">{{selectedCode}}</p></div>
                    <div class="remove-code-container"><p (click)="removeSelectedCode(selectedCode)" class="remove-selected-code-txt">&#10005;</p></div>
                </div>
            </div>
        </div>
        <div>
            <p>Quantidade:</p>
            <select [(ngModel)]="quantity">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <div>
            <p>Data:</p>
            <input type="date" 
            [(ngModel)]="date">
        </div>
    </div>
    <div class="btns-box">
        <button (click)="cancelOnClick()" class="red-btn">Cancelar</button>
        <button (click)="confirmOnClick()" class="green-btn">Confirmar</button>
    </div>
</div>
