.dropdown-select {
  width: 300px;
  max-height: 150px;
  margin-top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex !important;
  flex-direction: column !important;
  gap: 1.5px;
  position: absolute;
  background-color: #d1d1d1;
}

.dropdown-select div {
  display: block;
  padding: 5px 10px;
  margin-bottom: 0;
  border: 1px solid #3F3F3F;
  border-radius: 5px;
}

.dropdown-select div:hover {
  cursor: pointer;
  background-color: #7932a8be;
}




.selected-codes-container {
  display: grid !important;
  grid-template-columns: auto auto auto !important;
  column-gap: 5px !important;
  row-gap: 5px !important;
}

.selected-codes-container div {
  margin-bottom: 0 !important;
}

.selected-codes {
  height: 25px;
  padding: 2.5px 0px;
  background-color: #9943d3bd;
  display: grid !important;
  grid-template-columns: 80% auto !important;
  border-radius: 5px;
}

.selected-codes div {
  height: 25px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.selected-code-txt {
  font-size: smaller !important;
}

.remove-selected-code-txt {
  font-size: xx-small;
  font-weight: 600;
  cursor: pointer;
}
