<app-status-dialog
*ngIf="isStatusMode" [type]="'error'"
[title]="statusTitle"
[content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<div class="user-container dialog-container">
    <div class="dialog-header-container">
        <h1 class="dialog-title-txt">Editar Conta</h1>
        <div (click)="cancelOnClick()" class="dialog-close-container">
            <img src="../../../../assets/icons8-close-24 (1).png">
        </div>
    </div>




    <div class="dialog-content-container">
        <div>
            <p>*Nome:</p>
            <input class="dialog-input" type="text" placeholder="Insira seu nome" 
            [(ngModel)]="userName">
        </div>


        <div>
            <p>*Email:</p>
            <input class="dialog-input" type="text" placeholder="Insira seu email" 
            [(ngModel)]="userEmail">
        </div>
    </div>


    <hr class="dialog-division-line">


    <div class="dialog-footer-container">
        <div class="dialog-warning-container">
            <img src="../../../../assets/alert_7586991.png">
            <p>Ao editar o email será necessário realizar o login</p>
        </div>


        <div>
            <app-confirm-btn
            (clickEvent)="confirmOnClick()"
            [isClicked]="isClicked" [text]="btnText">
            </app-confirm-btn>
        </div>
    </div>
</div>




<div class="mask-filter"></div>