<app-status-dialog
*ngIf="isStatusMode"
[type]="'success'" [title]="statusTitle" [content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<app-attendances-dialog 
*ngIf="isMode01"
[notebookId]="notebookId" [lessonId]="lessonId"
[lessonQuantity]="quantity" [hasAttendances]="attendances !== 0"
(cancelButtonClick)="switchMode01()" 
(confirmButtonClick)="switchMode01(); refreshLesson(); setAttendanceStatus(); switchStatusMode();">
</app-attendances-dialog>

<app-delete-dialog 
*ngIf="isMode02"
[id]="lessonId"
(cancelButtonClick)="switchMode02()" (confirmButtonClick)="goBack()"
type="lesson" title="Deletar Aula"
content="Deseja realmente deletar essa aula? Todas as anotações e chamadas serão excluídas!">
</app-delete-dialog>

<app-lesson-dialog 
*ngIf="isMode03" 
[notebookId]="notebookId"
[lessonId]="lessonId" [lessonTitle]="title" 
[details]="details" [observations]="observations"
[bnccCodes]="getJustCode()"
[quantity]="quantity" [date]="date"
(cancelButtonClick)="switchMode03()" 
(confirmButtonClick)="refreshLesson(); switchMode03(); setEditStatus(); switchStatusMode();"
type="edit" title="Editar Aula">
</app-lesson-dialog>

<app-back-arrow></app-back-arrow>

<div [ngClass]="{ 'blur-filter': isMode01 || isMode02 || isMode03 }" class="single-lesson-container">
    <h1 class="title-txt">Informações</h1>
    <div class="info-container">
        <div class="single-info-container">
            <h1>Conteúdo:</h1>
            <input [value]="title">
        </div>
        <div class="single-info-container">
            <h1>Desenvolvimento:</h1>
            <div class="single-info-container-txt-box">
                <p>{{details}}</p>
            </div>
        </div>
        <div class="single-info-container">
            <h1>Observações:</h1>
            <div class="single-info-container-txt-box">
                <p>{{observations}}</p>
            </div>
        </div>
        <div class="single-info-container">
            <h1>Habilidades:</h1>
            <div class="single-info-container-txt-box">
                <p *ngFor="let bnccCode of bnccCodes">
                    {{bnccCode.description}}
                </p>
            </div>
        </div>
        <div class="single-info-container">
            <h1>Quantidade:</h1>
            <input [value]="quantity">
        </div>
        <div class="single-info-container">
            <h1>Data:</h1>
            <input [value]="formatDate(date)">
        </div>
    </div>
    <div class="txts-container">
        <h1 (click)="switchMode01()">Fazer/Editar Chamada</h1>
    </div>
    <div class="btns-container">
        <button (click)="switchMode02()" class="red-btn">Excluir</button>
        <button (click)="switchMode03()" class="blue-btn">Editar</button>
    </div>
</div>
