<app-status-dialog
*ngIf="isStatusMode"
[type]="'success'" [title]="statusTitle" [content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<app-attendances-dialog 
*ngIf="isMode01"
[notebookId]="notebookId" [lessonId]="lessonId"
[lessonQuantity]="quantity" [hasAttendances]="attendances !== 0"
(cancelButtonClick)="switchMode01()" 
(confirmButtonClick)="switchMode01(); refreshLesson(); setAttendanceStatus(); switchStatusMode();">
</app-attendances-dialog>

<app-delete-dialog 
*ngIf="isMode02"
[id]="lessonId"
(cancelButtonClick)="switchMode02()" (confirmButtonClick)="goBack()"
type="lesson" title="Deletar Aula"
content="Deseja realmente deletar essa aula? Todas as anotações e chamadas serão excluídas!">
</app-delete-dialog>

<app-lesson-dialog 
*ngIf="isMode03" 
[notebookId]="notebookId"
[lessonId]="lessonId" [lessonTitle]="title" 
[details]="details" [observations]="observations"
[bnccCodes]="getJustCode()"
[quantity]="quantity" [date]="date"
(cancelButtonClick)="switchMode03()" 
(confirmButtonClick)="refreshLesson(); switchMode03(); setEditStatus(); switchStatusMode();"
type="edit" title="Editar Aula">
</app-lesson-dialog>

<app-back-arrow></app-back-arrow>

<div class="single-lesson-container">
    <h1 class="page-title-txt">Informações</h1>




    <div class="page-content-container">
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Conteúdo:</h1>
            <input class="page-input" [value]="title">
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Desenvolvimento:</h1>
            <div class="page-big-txt-container">
                <p>{{details}}</p>
            </div>
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Observações:</h1>
            <div class="page-big-txt-container">
                <p>{{observations}}</p>
            </div>
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Habilidades:</h1>
            <div class="page-big-txt-container">
                <p *ngFor="let bnccCode of bnccCodes">
                    {{bnccCode.description}}
                </p>
            </div>
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Quantidade:</h1>
            <input class="page-input" [value]="quantity">
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Data:</h1>
            <input class="page-input" [value]="formatDate(date)">
        </div>
    </div>




    <div class="interactive-txts-container">
        <h1 (click)="switchMode01()" class="interactive-txt">Chamada</h1>
    </div>




    <div class="page-btns-container">
        <button (click)="switchMode02()" class="page-btn red-btn">Excluir</button>
        <button (click)="switchMode03()" class="page-btn blue-btn">Editar</button>
    </div>
</div>
