<app-attendances-dialog 
*ngIf="isAttendanceMode"
[lessonQuantity]="quantity" [hasAttendances]="attendances !== 0"
(cancelButtonClick)="switchAttendanceMode()" (confirmButtonClick)="switchAttendanceMode(); refreshLesson()">
</app-attendances-dialog>

<app-delete-dialog 
*ngIf="isDeleteMode"
[id]="lessonId"
(cancelButtonClick)="switchDeleteMode()" (confirmButtonClick)="goBack()"
type="lesson" title="Deletar Aula"
content="Deseja realmente deletar essa aula? Todas as anotações e chamadas serão excluídas!">
</app-delete-dialog>

<app-lesson-dialog 
*ngIf="isEditMode" 
[lessonId]="lessonId" [lessonTitle]="title" 
[details]="details" [observations]="observations"
[quantity]="quantity" [date]="date"
(cancelButtonClick)="switchEditMode()" (confirmButtonClick)="refreshLesson(); switchEditMode()"
type="edit" title="Editar Aula">
</app-lesson-dialog>

<app-back-arrow></app-back-arrow>

<div class="single-lesson-container">
    <h1 class="title-txt">Informações</h1>
    <div class="info-container">
        <div class="single-info-container">
            <h1>Título:</h1>
            <input [value]="title">
        </div>
        <div class="single-info-container">
            <h1>Detalhes:</h1>
            <div class="single-info-container-txt-box">
                <p>{{details}}</p>
            </div>
        </div>
        <div class="single-info-container">
            <h1>Observações:</h1>
            <div class="single-info-container-txt-box">
                <p>{{observations}}</p>
            </div>
        </div>
        <div class="single-info-container">
            <h1>Quantidade:</h1>
            <input disabled [value]="quantity">
        </div>
        <div class="single-info-container">
            <h1>Data:</h1>
            <input disabled [value]="date">
        </div>
    </div>
    <div class="txts-container">
        <h1 (click)="switchAttendanceMode()">Fazer/Editar Chamada</h1>
    </div>
    <div class="btns-container">
        <button (click)="switchDeleteMode()" class="red-btn">Excluir</button>
        <button (click)="switchEditMode()" class="blue-btn">Editar</button>
    </div>
</div>
