h1, p {
    color: #EFEFEF;
    text-align: center;
}

h1 {
    margin-top: 150px;
    font-size: 50px;
}

p {
    font-size: 25px;
}

button {
    width: 335px;
    height: 40px;
    margin-top: 15px;
    border: 0;
    background-color: #e03437;
    color: #EFEFEF;
}

button:hover {
    background-color: #e03437b9;
}

.verify-account-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verify-account-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
