<app-status-dialog
*ngIf="isStatusMode"
[type]="statusType" [title]="statusTitle"
[content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<div class="grades-dialog-container">
    <p class="title-txt">Criar/Editar Nota</p>
    <div class="creation-container">
        <div class="creation-form-container">
            <select [(ngModel)]="studentSelect">
                <option *ngFor="let student of studentsList" 
                [value]="student.id">{{student.name}}</option>
            </select>
            <select [(ngModel)]="gradeSelect">
                <option>0.0</option>
                <option>0.5</option>
                <option>1.0</option>
                <option>1.5</option>
                <option>2.0</option>
                <option>2.5</option>
                <option>3.0</option>
                <option>3.5</option>
                <option>4.0</option>
                <option>4.5</option>
                <option>5.0</option>
                <option>5.5</option>
                <option>6.0</option>
                <option>6.5</option>
                <option>7.0</option>
                <option>7.5</option>
                <option>8.0</option>
                <option>8.5</option>
                <option>9.0</option>
                <option>9.5</option>
                <option>10.0</option>
            </select>
        </div>
        <div class="creation-btns-container">
            <button (click)="confirmOnClick()" class="green-btn">Criar/Editar</button>
        </div>
    </div>
    <div *ngIf="!isGradesEmpty()" class="content-container">
        <div class="grade-header">
            <div><p>Aluno</p></div>
            <div><p>Nota</p></div>
        </div>
        <div class="student-grades-list">  
            <app-grades-dialog-list-element
            *ngFor="let grade of gradesList"
            [studentName]="grade.student.name"
            [grade]="grade.grade">
            </app-grades-dialog-list-element>
        </div>
    </div>
    <div class="btns-container">
        <button (click)="cancelOnClick()" class="red-btn">Voltar</button>
    </div>
</div>
