<app-status-dialog
*ngIf="isStatusMode"
[type]="statusType" [title]="statusTitle"
[content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<div class="grades-dialog-container dialog-container">
    <div class="dialog-header-container">
        <h1 class="dialog-title-txt">Salvar Notas</h1>
        <div (click)="cancelOnClick()" class="dialog-close-container">
            <img src="../../../../assets/icons8-close-24 (1).png">
        </div>
    </div>




    <div [ngSwitch]="studentsStatus" class="creation-container">
        <div *ngSwitchCase="'loading'" class="error-container">
            <div>
                <img src="../../../assets/redo_12108539.png">
                <h1 class="error-title">Carregando recursos...</h1>
            </div>
        </div>


        <div *ngSwitchCase="'error'" class="error-container">
            <div>
                <img src="../../../assets/close_12833099.png">
                <h1 class="error-title">Ops, algo deu errado :(</h1>
            </div>
            <div>
                <p class="error-txt">Algo não está funcionando como deveria, verifique a conexão e tente novamente mais tarde</p>
            </div>
        </div>


        <div *ngSwitchCase="'loaded'" class="creation-form-container">
            <select [(ngModel)]="studentSelect" class="dialog-select">
                <option *ngFor="let student of studentsList" [value]="student.id" [ngClass]="isStudentInGradesList(student)">
                    {{student.name}}
                </option>
            </select>


            <select [(ngModel)]="gradeSelect" class="dialog-select">
                <option>0.0</option>
                <option>0.5</option>
                <option>1.0</option>
                <option>1.5</option>
                <option>2.0</option>
                <option>2.5</option>
                <option>3.0</option>
                <option>3.5</option>
                <option>4.0</option>
                <option>4.5</option>
                <option>5.0</option>
                <option>5.5</option>
                <option>6.0</option>
                <option>6.5</option>
                <option>7.0</option>
                <option>7.5</option>
                <option>8.0</option>
                <option>8.5</option>
                <option>9.0</option>
                <option>9.5</option>
                <option>10.0</option>
            </select>
        </div>


        <div *ngIf="studentsStatus == 'loaded'" class="creation-btns-container">
            <app-confirm-btn
            (clickEvent)="confirmOnClick()"
            [isClicked]="isClicked"
            [text]="btnText">
            </app-confirm-btn>
        </div>
    </div>


    <hr *ngIf="studentsStatus == 'loaded'" class="dialog-division-line">


    <div [ngSwitch]="gradesStatus" class="dialog-content-container">
        <div *ngSwitchCase="'loaded'" class="grade-header">
            <div><p>Aluno</p></div>
            <div><p>Nota</p></div>
        </div>


        <div *ngSwitchCase="'loading'" class="error-container">
            <div>
                <img src="../../../assets/redo_12108539.png">
                <h1 class="error-title">Carregando notas...</h1>
            </div>
        </div>


        <div *ngSwitchCase="'error'" class="error-container">
            <div>
                <img src="../../../assets/close_12833099.png">
                <h1 class="error-title">Ops, algo deu errado :(</h1>
            </div>
            <div>
                <p class="error-txt">Algo não está funcionando como deveria, verifique a conexão e tente novamente mais tarde</p>
            </div>
        </div>


        <div *ngSwitchCase="'empty'" class="error-container">
            <div>
                <img src="../../../assets/search_11756156.png">
                <h1 class="error-title">Nenhuma nota encontrada</h1>
            </div>
            <div>
                <p class="error-txt">Clique no botão 'Criar/Editar' para salvar uma nota ;)</p>
            </div>
        </div>


        <div *ngSwitchCase="'loaded'" class="student-grades-list">  
            <app-grades-dialog-list-element
            *ngFor="let grade of gradesList"
            [studentName]="grade.student.name"
            [grade]="grade.grade">
            </app-grades-dialog-list-element>
        </div>
    </div>
</div>




<div class="mask-filter"></div>