<app-grades-dialog
*ngIf="isGradeMode"
(cancelButtonClick)="switchGradeMode()">
</app-grades-dialog>

<app-delete-dialog 
*ngIf="isDeleteMode" 
[id]="workId"
(cancelButtonClick)="switchDeleteMode()" (confirmButtonClick)="goBack()"
type="work" title="Deletar Trabalho/Tarefa"
content="Deseja realmente deletar esse trabalho/tarefa? Todas as anotações e notas serão excluídas!">
</app-delete-dialog>

<app-work-dialog 
*ngIf="isEditMode" 
[workId]="workId" [workTitle]="title" 
[details]="details" [observations]="observations" 
[workType]="workType" [date]="deliveryDate"
(cancelButtonClick)="switchEditMode()" (confirmButtonClick)="refreshWork(); switchEditMode()"
type="edit" title="Editar Ferramenta de Avaliação">
</app-work-dialog>

<app-back-arrow></app-back-arrow>

<div [ngClass]="{ 'blur-filter': isGradeMode || isDeleteMode || isEditMode }" class="single-work-container">
    <h1 class="title-txt">Informações</h1>
    <div class="info-container">
        <div class="single-info-container">
            <h1>Título:</h1>
            <input [value]="title">
        </div>
        <div class="single-info-container">
            <h1>Detalhes:</h1>
            <div class="single-info-container-txt-box">
                <p>{{details}}</p>
            </div>
        </div>
        <div class="single-info-container">
            <h1>Observações:</h1>
            <div class="single-info-container-txt-box">
                <p>{{observations}}</p>
            </div>
        </div>
        <div class="single-info-container">
            <h1>Tipo:</h1>
            <input [value]="workType">
        </div>
        <div class="single-info-container">
            <h1>Data De Entrega:</h1>
            <input [value]="formatDate(deliveryDate)">
        </div>
    </div>
    <div class="txts-container">
        <h1 (click)="switchGradeMode()">Criar/Editar Notas</h1>
    </div>
    <div class="btns-container">
        <button (click)="switchDeleteMode()" class="red-btn">Excluir</button>
        <button (click)="switchEditMode()" class="blue-btn">Editar</button>
    </div>
</div>
