<app-status-dialog
*ngIf="isStatusMode"
[type]="'success'" [title]="statusTitle" [content]="statusContent"
(destroyButtonClick)="isStatusMode = false">
</app-status-dialog>

<app-grades-dialog
*ngIf="isMode01"
[notebookId]="notebookId" [workId]="workId"
(cancelButtonClick)="switchMode01()">
</app-grades-dialog>

<app-delete-dialog 
*ngIf="isMode02" 
[id]="workId"
(cancelButtonClick)="switchMode02()" (confirmButtonClick)="goBack()"
type="work" title="Deletar Ferramenta de Avaliação"
content="Deseja realmente deletar essa ferramenta de avaliação? Todas as anotações e notas serão excluídas!">
</app-delete-dialog>

<app-work-dialog 
*ngIf="isMode03" 
[workId]="workId" [workTitle]="title" 
[details]="details" [observations]="observations" 
[workType]="workType" [date]="deliveryDate"
(cancelButtonClick)="switchMode03()" 
(confirmButtonClick)="refreshWork(); switchMode03(); setEditStatus(); switchStatusMode()"
type="edit" title="Editar Ferramenta de Avaliação">
</app-work-dialog>

<app-back-arrow></app-back-arrow>

<div class="single-work-container">
    <h1 class="page-title-txt">Informações</h1>




    <div class="page-content-container">
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Título:</h1>
            <input class="page-input" [value]="title">
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Detalhes:</h1>
            <div class="page-big-txt-container">
                <p>{{details}}</p>
            </div>
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Observações:</h1>
            <div class="page-big-txt-container">
                <p>{{observations}}</p>
            </div>
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Tipo:</h1>
            <input class="page-input" [value]="workType">
        </div>
        <div class="page-info-container">
            <h1 class="page-info-title-txt">Data De Entrega:</h1>
            <input class="page-input" [value]="formatDate(deliveryDate)">
        </div>
    </div>




    <div class="interactive-txts-container">
        <h1 (click)="switchMode01()" class="interactive-txt">Notas</h1>
    </div>




    <div class="page-btns-container">
        <button (click)="switchMode02()" class="page-btn red-btn">Excluir</button>
        <button (click)="switchMode03()" class="page-btn blue-btn">Editar</button>
    </div>
</div>
