<app-status-dialog
*ngIf="isStatusMode" [type]="statusType"
[title]="statusTitle" [content]="statusContent"
(destroyButtonClick)="setStatusModeFalse()">
</app-status-dialog>

<div class="login-page-container">
    <div class="login-container">
        <p class="title-txt">Login</p>
        <div class="form">
            <div>
                <h1>Email:</h1>
                <input type="text" placeholder="Insira seu email"
                [(ngModel)]="email">
            </div>
            <a [routerLink]="['/mudar-senha-request']" class="change-password-txt">Não Lembra de sua senha?</a>
            <div>
                <h1>Senha:</h1>
                <input type="password" placeholder="Insira sua senha"
                [(ngModel)]="password">
            </div>
        </div>
        <div class="btns-container">
            <button (click)="loginOnClick()" class="red-btn">Login</button>
            <p>Não possui uma conta?<a [routerLink]="['/criar']" class="link-txt">Crie uma agora</a></p>
        </div>
    </div>
</div>
