<app-status-dialog
*ngIf="isStatusMode" [type]="statusType"
[title]="statusTitle" [content]="statusContent"
(destroyButtonClick)="setStatusModeFalse()">
</app-status-dialog>




<div class="login-container">
    <h1 class="page-title-txt">Login</h1>



    <div class="page-content-container">
        <div class="page-inputs-container">
            <input class="page-input" type="text" placeholder="Email" [(ngModel)]="email">
            <input class="page-input" type="password" placeholder="Senha" [(ngModel)]="password">
        </div>




        <div class="page-btns-container">
            <button class="page-btn">Login</button>
        </div>




        <div class="interactive-txts-container">
            <p class="forgot-password-txt">Esqueceu sua senha?</p>
            <p class="login-create-interactive-txt">Não tem uma conta? <a class="clickable-txt">Crie uma agora</a></p>
        </div>
    </div>
</div>
