/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
}

body {
    padding-bottom: 50px;
}

h1, button {
    font-weight: normal;
    font-family: 'Bebas Neue', sans-serif;
    background-color: transparent;
}

p, a, input {
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: transparent;
}

::placeholder {
    color: #3f3f3fd0;
}
