.create-container {
    width: 350px;
    height: auto;
    margin: 100px auto;
    padding-bottom: 47.2px;
    border: 1px solid #e03437;
    background-color: #3F3F3F;
}

.title-txt {
    width: fit-content;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    font-family: 'Bebas Neue', sans-serif;
    color: #EFEFEF;
}

.form {
    width: 325px;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.form div {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 22.5% auto;
}

.form h1 {
    width: 100%;
    height: 55px;
    padding-top: 10px;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    background-color: #e03437;
    text-align: center;
    font-size: larger;
    color: #EFEFEF;
}

.form input {
    border: 0;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    padding-left: 10px;
    background-color: #EFEFEF4D;
    font-family: 'Roboto', sans-serif;
    color: #EFEFEF;
}

.form input::placeholder {
    color: #efefefb0;
}

.btns-container {
    width: fit-content;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btns-container button {
    width: 300px;
    height: 35px;
    border: 0;
    border-radius: 2.5px;
    cursor: pointer;
    font-size: medium;
    font-family: 'Bebas Neue', sans-serif;
    color: #EFEFEF;
}

.red-btn {
    background-color: #e03437;
}

.red-btn:hover {
    background-color: #e03437b9;
}

.btns-container p {
    margin-top: 12.5px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #EFEFEF;
}

.link-txt {
    margin-left: 5px;
    cursor: pointer;
    font-style: italic;
    text-decoration: underline;
    color: #EFEFEF;
}

.link-txt:hover {
    color: #f15c5c;
}