<app-status-dialog
*ngIf="isStatusMode" [type]="statusType"
[title]="statusTitle" [content]="statusContent"
(destroyButtonClick)="setStatusModeFalse()">
</app-status-dialog>

<div class="login-create-container">
    <h1 class="page-title-txt">Criar</h1>



    <div class="page-content-container">
        <div class="page-inputs-container">
            <input class="page-input" type="text" placeholder="Nome" [(ngModel)]="name">
            <input class="page-input" type="text" placeholder="Email" [(ngModel)]="email">
            <input class="page-input" type="password" placeholder="Senha" [(ngModel)]="password">
            <input class="page-input" type="password" placeholder="Confirmar Senha" [(ngModel)]="confPassword">
        </div>




        <div class="page-btns-container">
            <button 
            (click)="createOnClick()" 
            [ngClass]="isClicked ? 'loading-btn' : ''"
            class="page-btn">{{btnText}}</button>
        </div>




        <div class="interactive-txts-container">
            <p class="login-create-interactive-txt">Já tem uma conta? <a [routerLink]="['/login']" class="clickable-txt">Faça login agora</a></p>
        </div>
    </div>
</div>
