.login-create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}




.page-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page-input {
    width: 350px;
    border: 1px solid #7932a8;
    background-color: #9524a41a;
}




.page-btns-container {
    margin-top: 10px;
}

.page-btn {
    width: 350px;
    background-color: #7932a8;
    color: #fffedd;
    font-family: "Roboto Condensed", sans-serif !important;
    font-weight: 500;
    font-size: medium;
}




.loading-btn {
    background-color: #7932a89a;
    color: #fffeddc0;
    cursor: wait;
    pointer-events: none;
}




.interactive-txts-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 40px;
}

.forgot-password-txt {
    color: #7932a8;
    font-style: italic;
}

.forgot-password-txt:hover {
    color: #7932a8c4;
    cursor: pointer;
}

.login-create-interactive-txt {
    font-size: large;
}

.clickable-txt {
    color: #7932a8;
    font-style: italic;
    text-decoration: none;
}

.clickable-txt:hover {
    color: #7932a8c4;
    cursor: pointer;
}