.work-container {
    width: 1000px;
    height: 45px;
    display: grid;
    grid-template-columns: 15% auto 12%;
    cursor: pointer;
    background-color: #bbbbbb;
}

.work-container:hover {
    background-color: #bbbbbba9;
}

.work-container div {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #3F3F3F;
    background-color: transparent;
}